{% extends "layout" %}

{% block content %}
<!--<h2>{{ card.name }}</h2>-->
<h2>Névjegy adatai</h2>
<h3>Név</h3>
<pre>
{{ card.name }}
</pre>
<h3>Telefonszám</h3>
<pre>
{{ card.cell }}
</pre>
<h3>Email</h3>
<pre>
{{ card.email }}
</pre>
<h3>Kategória</h3>
<pre>
{{ card.category.name }}
</pre>

{% if (card.user_id == currentUser.id) %} 
<a href="/cards/{{ card.id }}/edit" class="btn btn-default">
    Szerkeszt
</a>
<a href="/cards/{{ card.id }}/delete" class="btn btn-danger">
    Töröl
</a>
{% endif %}

{% endblock %}