{% extends 'layout' %}

{% block content %}
  <h1>Névjegyek megtekintése</h1>
  <form action="/cards" method="GET">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputCardName">Név</label>
          <input type="text" class="form-control" placeholder="--" id="inputCardName" name="cardName" value="{{ filters.cardName }}">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputCategory">Kategória</label>
          <select class="form-control" id="inputCategory" name="category">
            <option value="">--</option>
            {% for category in categories %}
            {% if filters.category == category.id %}
            <option value="{{ category.id }}" selected>{{ category.name }}</option>
            {% else %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűkítés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok</h2>  
  {% for cardBatch in cards.data | batch(30) %}
    <table class="table table-striped table-hover ">    
      <thead>
        <tr>
          <th>Név</th>
          <th>Telefonszám</th>
          <th>Email</th>
        </tr>
      </thead>        
      <tbody>
      {% for card in cardBatch %}
        {% if (card.user_id == currentUser.id) %}
          <tr>            
            <td style='width: 400px'><a href="/cards/{{ card.id }}"><strong>{{ card.name }}</strong></a></td>            
            <td style='width: 400px'>  {{ card.cell }}</td>
            <td style='width: 400px'>  {{ card.email }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% else %}
     Nincs a szűrésnek megfelelő névjegy.
  {% endfor %}    
  {% if cards.lastPage > 1 %}
    <div class="text-center">
      <ul class="pagination">
        {% for page in range(1, cards.lastPage + 1) %}
          {% if page == cards.currentPage %}
            <li class="active">
              <a href="/cards?p={{ page }}&amp;cardName={{ filters.cardName }}&amp;category={{ filters.category }}">{{ page }}</a>
            </li>
          {% else %}
            <li><a href="/cards?p={{ page }}&amp;cardName={{ filters.cardName }}&amp;category={{ filters.category }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
