{% extends "layout" %}

{% block scripts %}
<script src="/scripts/main.js"></script>
<script src="/scripts/pop_log.js"></script>
<script src="/scripts/pop_reg.js"></script>
{% endblock %}

{% block content %}

{% if currentUser %}
  <h1>Sikeres bejelentkezés!</h1>
  <br>
  <p style="font-size:20px">Mostmár megkezdheted az oldal használatát. </p> 
  <img src="http://i.imgur.com/OMCGMup.png" style="width:10%;height:10%;">
{% else %}  
  <div class="row">
    
    <div class="col-lg-12">
      <h1>Üdvözöllek az oldalon!</h1>
      <br>
      <p style="font-size:20px">Miért minket válassz?</p>
      <p style="font-size:18px">Nálunk a névjegyeidet egy helyen tudod kezelni amíg mi a legnagyobb egyszerűségre és kezelhetőségre törekszünk!</p>
      <p style="font-size:14px"><strong>Próbáld ki most!</strong></p>      
      <!--<p style="font-size:14px">Az oldal használatba vételéhez kérlek <a href="/login">jelentkezz be</a>!</p>
      <p style="font-size:14px">Ha még nincs saját profilod <a href="/register">itt regisztrálhatsz</a>!</p>-->
    </div>    
  </div>

{% endif %}
{% endblock %}
